*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}
body,html{
    height: 100%;
    width: 100%;
}
body{
display: flex;
align-items: center;
justify-content: center;
background-color: cornflowerblue;
}
#card{
    width: 260px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}
#card img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    /* padding: 20px; */
    border-radius: 2vh;
    /* margin-top: 2px; */
}
#card h1{
    /* color: red; */
    font-size: 6vh;
    font-style:oblique;
    margin: px;
}
#card h5{
    color: red;
    font-size: 3.8vh;
    margin: 8px;

}
#card button{
    /* margin: 15px 15px; */
    padding: 10px 10px;
    border-radius: 3vh;
    background-color: cadetblue;
    color: white;
    border: none;
cursor: pointer;

}
#project2{
    height: 100%;
    width: 100%;
    background-color: rgb(237, 100, 184);
}



